<aside>
  <h2>Our Latest News Stories</h2>

  <div class="newsWidget">
    {{#each partials.newsContext}}
    <div>
      <h3>{{heading}}</h3>

      {{body}}
      </a>
    </div>
    {{/each}}

  </div>

</aside>
