
{{#if newName}}
<h2> A person has been added to the database with the name of {{newName}} </h2>
{{/if}}


<ul>
  {{#each personlist}}
    <li><a href=/staff/{{this.name}}>
      {{this.name}}</a></li>
</li>
  {{/each}}
</ul>
