

<form method="POST">

    <div class="form-group">
        <label for='firstname'>First Name</label>
        <input type=text id='firstname' name='name' class='form-control' value={{person.name}} >
    </div>
    <div class="form-group">
        <label for='dob'>Date of Birth</label>
        <input type=date id='dob' name='dob' class='form-control' value={{person.dob}} >
    </div>

    <button type=submit class="btn btn-primary">Add Person</button>


</form>